.cardBox {
  display:flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.flipImg {
    /* flip both */
    transform: scale(-1, -1);
}

img {
  width:300px;
  height:524px;
}